<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<title>Publications</title>

<style>{{ css }}</style>

</head>

<body>

<h1>BY TYPE</h1>

<h2>BOOK</h2>

  <ul id="pubs_list">

  {% for entry in db|keeponly('book')|sort(attribute='author')|sort(attribute='year') %}
    {{ entry.formatted }}
  {%- endfor %}

  </ul>


<h2>JOURNAL</h2>

  <ul id="pubs_list">

  {% for entry in db|keeponly('article')|sort(attribute='author')|sort(attribute='year') %}
    {{ entry.formatted }}
  {%- endfor %}

  </ul>


<h2>CONFERENCE</h2>

  <ul id="pubs_list">

  {% for entry in db|keeponly('inproceedings')|sort(attribute='author')|sort(attribute='year') %}
    {{ entry.formatted }}
  {%- endfor %}

  </ul>


<h2>TECHNICAL REPORTS</h2>

  <ul id="pubs_list">

  {% for entry in db|keeponly('techreport')|sort(attribute='author')|sort(attribute='year') %}
    {{ entry.formatted }}
  {%- endfor %}

  </ul>


<h1>BY YEAR</h1>

{% for year in range(2008, 2015)|reverse %}
{% if db|keeponly(year, field='year') %}
<h2>{{ year }}</h2>

  <ul id="pubs_list">

    {% for entry in db|keeponly(year, field='year')|sort(attribute='author') %}
      {{ entry.formatted }}
    {%- endfor %}

  </ul>
{% endif %}
{% endfor %}



<!-- FOOTER -->
Generated automatically by <a href="https://github.com/lchamon/pubs2html">pubs2html</a> [ &copy; 2014 Luiz Chamon ].
<!-- END OF FOOTER -->

</body>
</html>
