<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<title>Publications</title>

<style>{{ css }}</style>

</head>

<body>

<h1>BOOK</h1>

  <ul id="pubs_list">

  {% for entry in db|keeponly('book') %}
    {{ entry.formatted }}
  {%- endfor %}

  </ul>


<h1>JOURNAL</h1>

  <ul id="pubs_list">

  {% for entry in db|keeponly('article') %}
    {{ entry.formatted }}
  {%- endfor %}
  
  </ul>


<h1>CONFERENCE</h1>

  <ul id="pubs_list">

  {% for entry in db|keeponly('inproceedings') %}
    {{ entry.formatted }}
  {%- endfor %}
  
  </ul>


<h1>TECHNICAL REPORTS</h1>

  <ul id="pubs_list">

  {% for entry in db|keeponly('techreport') %}
    {{ entry.formatted }}
  {%- endfor %}
  
  </ul>


<!-- FOOTER -->
Generated automatically by <a href="https://github.com/lchamon/pubs2html">pubs2html</a> [ &copy; 2014 Luiz Chamon ].
<!-- END OF FOOTER -->

</body>
</html>