/******* Styling *******/
body{
	background: #3c3c3c;
	height: auto;
}

.container_24 h1{
	margin-top: 25px;
	color: #323232;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
	font-size: 34px;
	text-align: center;
}

#box{
	background-color: #fff;
	font-family: Tahoma, sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #575757;
	overflow: hidden;
	padding: 20px 0;
	margin-bottom: 20px;
	min-height: 100px;
	/*Border radius for Firefox, Safari, Chrome, Opera >10 and IE >9 */ -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	/*Color gradient and shadow for Firefox, Safari, Chrome, Opera >10 and IE >9 */
	-moz-box-shadow: inset 0px 2px 0px 0px #dddddd;
	-webkit-box-shadow: inset 0px 2px 0px 0px #dddddd;
	box-shadow: inset -1px -1px 1px 0px #CCC;
}

#pubs_list{
	padding: 0 30px;
	font-size: 14px;
	list-style-type: none;
	margin: 0;
}

#pubs_list li{
	margin: 0 0 15px 0;
}

#pubs_list li:last-child{
	margin-bottom: 0;
}

#pubs_list a{
	color: #323232;
	font-weight: bold;
	text-decoration: none;
	margin: 0 2px;
}

#pubs_list a:hover{
	text-decoration: underline;
}

#footer{
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	padding-bottom: 5px;
	margin-top: 10px;
}

/******* 960 grid system *******/
body {
	min-width: 960px;
}

.container_24 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.grid_18,
.grid_24 {
	display: inline;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.container_24 .grid_18 {
	width: 710px;
}

.container_24 .grid_24 {
	width: 950px;
}

.container_24 .push_3 {
	position: relative;
	left: 120px;
}

.container_24{
	background-color: #F2F2F2;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after,
.container_24:before,
.container_24:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_24:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_24 {
  zoom: 1;
}